
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    
  
    width: 95%;
    max-width: 1200px ;
    margin: 7px 10px 10px 10px ;
    display: grid;
    grid-gap: 20px;
    grid-template-columns:repeat(3, 1fr)  ;
    
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "logo busqueda-bar opciones";
}
.header .logo{
    align-self: center;
    justify-self: center;
    grid-area: logo;
    margin: 0;
    padding: 3% auto;
    width: 150px;
    grid-area: logo;
    
}
.header .busqueda-bar{
    align-self: center;
    justify-self: center;
    
 
    grid-area: busqueda-bar;
    margin: 0;
    
    
}
.header .opciones{
    align-self: center;
    justify-self: center;
    grid-area: opciones;
    margin: 0;
   
}
.iconos-opciones{
    text-align: center;
    color: #5ccb5f;
    
}
.text-opciones{
    font-size: 10px;
    width: 100px;
    text-align: center;
}

.contenido{
    width: 95%;
    max-width: 1200px ;
    margin: 20px ;
    display: grid;
    grid-gap: 5px;
    grid-template-columns:repeat(5, 1fr)  ;
    
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "lateral-filtro  lateral-vitrina lateral-vitrina lateral-vitrina lateral-vitrina"
                         "lateral-filtro vacio vacio paginacion paginacion";
                        

}
.contenido .lateral-filtro{
    
    text-align: center;
    grid-area: lateral-filtro;
}
.contenido .lateral-vitrina{
   
    text-align: center;
    grid-area: lateral-vitrina;
}
.contenido .paginacion{
    grid-area: paginacion;
    text-align: right;
}
.vitrina{
    width: 95%;
    margin: 0px;
    display: grid;
    grid-template-columns:repeat(4, 1fr)  ;
    grid-template-rows: repeat(3, auto);
}
.producto{
    padding: 15px 5px 300px 5px;
    
}
.busqueda{
    border: 1px #5ccb5f solid;
    border-radius: 20px;
}

.text-bar{
    border: 0;
    outline: none;
    width: 350px;
    
    
    
}
.lupa{
    padding: 7px 7px 0px 0px;
    color: #5ccb5f;
}


@media screen and (max-width:960px) {
   .header{
    grid-template-columns:repeat(2, 1fr)  ;

    grid-template-areas: "logo  opciones"
                            "busqueda-bar busqueda-bar"
   }
   .vitrina{
    grid-template-columns:repeat(3, 1fr)  ;
    grid-template-rows: repeat(4, auto);

   }
}
@media screen and (max-width:700px) {
    .contenido{
        grid-template-columns:repeat(1, 1fr)  ;
    
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "lateral-filtro" 
                            "lateral-vitrina"
                         " paginacion";

       }
    .vitrina{
     grid-template-columns:repeat(2, 1fr)  ;
     grid-template-rows: repeat(6, auto);
 
    }
 }
 @media screen and (max-width:550px) {
    .header{
        grid-template-columns:repeat(2, 1fr)  ;
    
        grid-template-areas: "logo  opciones"
                                "busqueda-bar busqueda-bar"
       }
       
       .vitrina{
        grid-template-columns:repeat(1, 1fr)  ;
        grid-template-rows: repeat(12, auto);
    
       }
    
 
       
    }
    
 



