body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {


  width: 95%;
  max-width: 1200px;
  margin: 7px 10px 10px 10px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);

  grid-template-rows: repeat(1, auto);
  grid-template-areas: "logo busqueda-bar opciones";
}

.header .logo {
  align-self: center;
  justify-self: center;
  grid-area: logo;
  margin: 0;
  padding: 3% auto;
  width: 150px;
  grid-area: logo;

}

.header .busqueda-bar {
  align-self: center;
  justify-self: center;


  grid-area: busqueda-bar;
  margin: 0;


}

.header .opciones {
  align-self: center;
  justify-self: center;
  grid-area: opciones;
  margin: 0;

}

.iconos-opciones {
  text-align: center;
  color: #5ccb5f;

}

.text-opciones {
  font-size: 10px;
  width: 100px;
  text-align: center;
}

.contenido {
  width: 95%;
  max-width: 1200px;
  margin: 20px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(5, 1fr);

  grid-template-rows: repeat(2, auto);
  grid-template-areas: "lateral-filtro  lateral-vitrina lateral-vitrina lateral-vitrina lateral-vitrina"
    "lateral-filtro vacio vacio paginacion paginacion";


}

.contenido .lateral-filtro {

  text-align: center;
  grid-area: lateral-filtro;
}

.contenido .lateral-vitrina {

  text-align: center;
  grid-area: lateral-vitrina;
}

.contenido .paginacion {
  grid-area: paginacion;
  text-align: right;
}

.vitrina {
  width: 95%;
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
}

.producto {
  padding: 15px 5px 300px 5px;

}

.busqueda {
  border: 1px #5ccb5f solid;
  border-radius: 20px;
}

.text-bar {
  border: 0;
  outline: none;
  width: 350px;



}

.lupa {
  padding: 7px 7px 0px 0px;
  color: #5ccb5f;
}


@media screen and (max-width:960px) {
  .header {
    grid-template-columns: repeat(2, 1fr);

    grid-template-areas: "logo  opciones"
      "busqueda-bar busqueda-bar"
  }

  .vitrina {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);

  }
}

@media screen and (max-width:700px) {
  .contenido {
    grid-template-columns: repeat(1, 1fr);

    grid-template-rows: repeat(3, auto);
    grid-template-areas: "lateral-filtro"
      "lateral-vitrina"
      " paginacion";

  }

  .vitrina {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);

  }
}

@media screen and (max-width:550px) {
  .header {
    grid-template-columns: repeat(2, 1fr);

    grid-template-areas: "logo  opciones"
      "busqueda-bar busqueda-bar"
  }

  .vitrina {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, auto);

  }



}


.filtrogrid {
  display: grid;
  grid-template-rows: repeat(2, auto);
  margin: 0;
  grid-template-areas: "label"
    "slide";
}
.label-filtro{
  font-size: large;
}

.range_container {
  grid-area: slide;
  display: grid;
  justify-self: center;
  justify-items: center;

  gap: 5px;
  grid-template-rows: repeat(3, auto);
  width: 100%;
  grid-template-areas: "sliders_control"
    "form_control"
    "botonFiltro";


}

.sliders_control {
  grid-area: sliders_control;

}

.form_control {
  grid-area: form_control;
  display: grid;
  justify-self: center;
  grid-template-columns: repeat(2, auto);
  margin-top: 10px;
  text-align: left;
  font-size: 15px;
  gap: 110px;

}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  pointer-events: all;
  width: 17px;
  height: 17px;
  background-color: #009929;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #009929;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 17px;
  height: 17px;
  background-color: #009929;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #009929;
  cursor: pointer;
}



input[type=range]::-webkit-slider-thumb:active {
  box-shadow: inset 0 0 3px #009929, 0 0 9px #009929;
  -webkit-box-shadow: inset 0 0 3px #009929, 0 0 9px #009929;
}



input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  width: 100%;

  background-color: #009929;
  pointer-events: none;
}

#fromSlider {

  height: 0;
  position: relative;
  z-index: 1;
  background-color: #009929;

  margin-bottom: -16px;

}

.form_control_container__time__input {
  padding: 1px;
  width: 40px;
  height: 25px;
  background-color: #F5F5F5;
  border: 0;
  border-radius: 4px;
  font-size: 13px;
  text-align: right;
  color: darkgrey;





}
.form_control_container__time {
  
  color: dimgrey;





}

.control {
  width: 48px;
  height: 30px;
  border: 1px #D3D3D3 solid;
  border-radius: 3px;
  background-color: #F5F5F5;



}

.boton1 {
  border: 0;
  grid-area: botonFiltro;
  width: 80px;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
}
.botonFil{
  
  border: #009929 solid;
  background-color: #009929;
  border-radius: 12px;
  width: 70%;
}